[MAIN]
fail-under=7.50 # not the same in github actions and on your pc

[FORMAT]
max-line-length=240

[MESSAGES CONTROL]
# Disabling some:
#   W1203:logging-fstring-interpolation - No performance cosern 
#   W0511:fixme - widely used
disable=W1203,W0511