permissions:
  id-token: write
  contents: read

name: Code Review

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.AWS_ROLE }}
        role-session-name: ${{ secrets.AWS_SESSION_NAME }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: CodeGuru Reviewer
      uses: aws-actions/codeguru-reviewer@v1.1
      with:
        s3_bucket: codeguru-reviewer-cid-stage
    
    - name: Upload review result
      if: ${{ github.event_name != 'push' }}
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: codeguru-results.sarif.json
